@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Oswald);


.cura-nav {
    margin-bottom: 3rem;
}

.card {
    border: solid #fff;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Vollkorn', serif;*/
    /*font-family: 'PT Serif', serif;*/
    /*font-family: 'PT Mono', serif;*/
}

.card img {
    width:100%;
}

.no-creations-here {
  text-align: center;
}

.btn-add-new-creation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


/* flow */
.drop {
    padding: 15px;
    border: 2px #000000 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    overflow: hidden;
}

.gallery-box .thumbnail {
    height: 150px;
/*    width: 188px;*/
    margin-bottom: 1rem;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}
/* end flow */