<creations creations="vm.creations" ng-show="vm.creations && vm.creations.length"></creations>

<a class="btn btn-primary-outline btn-add-new-creation"
  href="javascript:void(0)"
  ng-show="vm.isAuthenticated"
  ng-dialog="/static/templates/creations/new-creation.html"
  ng-dialog-controller="NewCreationController as vm">
  +
</a>