<!DOCTYPE html>
<html ng-app="cura">
<head>
  <title>Cura</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>

  <base href="/" />

  {% include 'stylesheets.html' %}

  <style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    /* …curses ios, etc… */
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
      #stage {
        height: 1px;
        overflow: auto;
        min-height: 100vh;
        -webkit-overflow-scrolling: touch;
      }
    }
  </style>

</head>

<body>

  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">

      {% verbatim %}
      <div class="col-md-4">
        <div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
          <div class="drop" flow-drop="" flow-drag-enter="style={border: '5px solid black'}" flow-drag-leave="style={}" ng-style="style" ng-class="dropClass" ></div>
          <br>
          <div>
            <div ng-repeat="file in $flow.files" class="gallery-box">

              <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="file" />
              </div>

              <progress class="progress" value="{{file.progress() * 100}}" max="100"></progress>

              <div class="btn-group">
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                  Remove
                </a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      {% endverbatim %}

      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>

  {% include 'javascripts.html' %}

</body>
</html>
