<!DOCTYPE html>
<html ng-app="cura">
<head>
  <title>Cura</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">

      {% verbatim %}
      <div class="col-md-4">
        <div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
          <div class="drop" flow-drop="" flow-drag-enter="style={border: '5px solid black'}" flow-drag-leave="style={}" ng-style="style" ng-class="dropClass" ></div>
          <br>
          <div>
            <div ng-repeat="file in $flow.files" class="gallery-box">

              <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="file" />
              </div>

              <progress class="progress" value="{{file.progress() * 100}}" max="100"></progress>

              <div class="btn-group">
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                  Remove
                </a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      {% endverbatim %}

      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>

  {% include 'javascripts.html' %}

</body>
</html>
