{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-flow/dist/ng-flow-standalone.min.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/cura.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/cura.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/cura.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/creations/creations.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/creations/services/creations.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/creations/directives/creation.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/creations/directives/creations.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/creations/controllers/creations.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/creations/controllers/new-creation.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/thirdparty/thirdparty.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thirdparty/flow.config.js' %}"></script>
{% endcompress %}
