<nav class="navbar navbar-light bg-faded cura-nav" role="navigation" ng-controller="NavbarController as vm">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#cura-nav">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="cura-nav">
    <a class="navbar-brand" href="/"><i class="fa fa-home fa-2x"></i></a>
    <ul class="nav navbar-nav pull-right">
      {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/{{ user.username }}"><i class="fa fa-user fa-2x"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="/{{ user.username }}/settings"><i class="fa fa-sliders fa-2x"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-hand-peace-o fa-2x"></i></a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

