<div class="row">
  <div class="col-sm-12">
    <div class="card">
    <img class="card-img-top" src="https://d324imu86q1bqn.cloudfront.net/uploads/asset/attachment/2809852/ello-optimized-bb03deb9.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">
          <a class="card-link" href="/{{ creation.creator.username }}">
            {{ creation.creator.username }}
          </a>
        </h4>
        <p class="card-text">{{ creation.description }}</p>
      </div>
    </div>
  </div>
</div>
